.playerControls {
  margin-top: 5px;
}

.playerControls > button {
  display: block;
  margin-bottom: 5px;
}

svg {
  background-color: #eee;
}

.line {
  fill: none;
  stroke-width: 2;
  stroke: #07f;
}

.circle {
  fill: none;
  stroke-width: 2;
  stroke: rgba(150, 150, 150, 0.5);
}

.notch {
  fill: none;
  stroke-width: 2;
  stroke: #e99;
}