.playerControls {
  margin-top: 5px;
}

.playerControls > button {
  display: block;
  margin-bottom: 5px;
}

svg {
  background-color: #eee;
}

.line {
  stroke-width: 2;
  stroke: #07f;
  fill: none
}

.circle {
  fill: none;
  stroke-width: 2;
  stroke: #888;
}